In [2]:
x = 2+2
y = 3+3
z = 4*3-2*6

In [3]:
x

4

In [4]:
y

6

In [5]:
z

0

In [4]:
joke_question = 'What\'s the difference between a rental car and a tank?'
joke_answer = 'A RENTAL car... can go ANYWHERE'
print (joke_question)
print ()
print (joke_answer)

What's the difference between a rental car and a tank?

A RENTAL car... can go ANYWHERE

In [ ]:
# One shortcut is to use shift+Enter to run a cell
# Click to the left of a cell to highlight it, then x to cut, c to copy, v to past, z to undo, 
# a to insert a cell above, b to insert a cell below, d,d to delete